
QWidget
{
    border-style: none;
    background-color:white;
}
QWidget::SubBoard
{
    border: 2px solid black;
}
QPushButton
{
    color: #b5b3b3;
    background-color: white;
    border: 1px #b5b3b3 solid;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
QPushButton:hover {
    border: 1px solid black;
    color: black;
}
QPushButton:pressed
{
    border: 1px solid black;
    color: black;
}
QPushButton:!pressed
{
    border: 1px solid #b5b3b3;
    color: #b5b3b3;
}
QListWidget
{
 border : white;
 background : white;
 outline: 0px;
}

QTextEdit
{
    border: white;
    font-family: "Helvetica";
    background-color: white; 
}

QMessageBox QPushButton {
    font-size: 12px;
}

QMenu::item:selected {
    background-color:#7A99CA;
    color:white;
    border-radius: 5px;
    padding: 5px 10px 8px 10px;
}

QMenu {
    border-radius: 5px;
}
QMenu::item {
    padding: 5px 10px 8px 10px;
}

